@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
  }

  html,
  body {
    height: 100%;
  }

  body {
    @apply bg-slate-50 text-slate-900 antialiased;
  }
}
